@model DevFramework.Northwind.MvcWebUI.Models.KusakOdemeleriListViewModel
@{
    Layout = null;
}


@using (Html.BeginForm("KusaklarKayit", "Kusaklar", FormMethod.Post, new { id = "popupForm" }))
{
    if (Model.kusakOdemeleriDetayGet != null && Model.kusakOdemeleriDetayGet.Id > 0)
    {
        @Html.HiddenFor(a => a.kusakOdemeleriDetayGet.Id)
        @Html.HiddenFor(a => a.kusakOdemeleriDetayGet.SporcuId)
        @Html.HiddenFor(a => a.kusakOdemeleriDetayGet.KusakId)
    }

    <div class="form-group">
        <label>Ad Soyad</label>
        @Html.TextBoxFor(a => a.kusakOdemeleriDetayGet.AdSoyad, new { @class = "form-control", @required = "required" })
        @Html.ValidationMessageFor(a => a.kusakOdemeleriDetayGet.AdSoyad)
    </div>
      <div class="form-group">
        <label>Ödeme Tarihi</label>
        @Html.TextBoxFor(a => a.kusakOdemeleriDetayGet.OdemeTarihi, new { @class = "form-control", @required = "required" })
        @Html.ValidationMessageFor(a => a.kusakOdemeleriDetayGet.OdemeTarihi)
    </div>
    <div class="form-group">
        <label>Sporcu Kategori</label>
        @Html.DropDownListFor(a => a.kusakOdemeleriDetayGet.KusakId, new SelectList(ViewBag.kusaklargoster, "Id", "KusakAdi"), "Seçiniz", new { @class = "form-control", @required = "required" })
        @Html.ValidationMessageFor(a => a.kusakOdemeleriDetayGet.KusakId)
    </div>
    <div>
        <input class="btn btn-success" type="submit" value="KAYIT" />
    </div>
}

