@model DevFramework.Northwind.MvcWebUI.Models.TesisFaturamListViewModel
@{
    Layout = null;
}
@using (Html.BeginForm("TesisFaturamKayit", "TesisFaturam", FormMethod.Post, new { id = "popupForm" }))
{
    if (Model.tesisFaturamGet != null && Model.tesisFaturamGet.Id > 0)
    {
        @Html.HiddenFor(a => a.tesisFaturamGet.Id)
    }
    <div class="form-group">
        <label>Fatura Türü</label>
        @Html.DropDownListFor(a => a.tesisFaturamGet.TesisFaturaTuruId, new SelectList(ViewBag.faturaturugoster, "Id", "FaturaTuru"), "Seçiniz", new { @class = "form-control", @required = "required" })
        @Html.ValidationMessageFor(a => a.tesisFaturamGet.TesisFaturaTuruId)
    </div>
    <div class="form-group">
        <label>Fatura Tutarı</label>
        @Html.TextBoxFor(a => a.tesisFaturamGet.TesisFaturaTutari, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.tesisFaturamGet.TesisFaturaTutari)
    </div>
    <div class="form-group">
        <label>Son Ödeme</label>
        @Html.TextBoxFor(a => a.tesisFaturamGet.SonOdeme, "{0:d}", new { @class = "form-control", type = "date" })
        @Html.ValidationMessageFor(a => a.tesisFaturamGet.SonOdeme)
    </div>
    <div class="form-group">
        <label>İşlem Tarihi</label>
        @Html.TextBoxFor(a => a.tesisFaturamGet.IslemTarihi, "{0:d}", new { @Value = (Model.tesisFaturalariGet != null) ? Model.tesisFaturalariGet.IslemTarihi.ToString() : DateTime.Now.ToString("dd.MM.yyyy"), @class = "form-control" })
        @Html.ValidationMessageFor(a => a.tesisFaturamGet.IslemTarihi)
    </div>
    <div>
        <input class="btn btn-success" type="submit" value="KAYIT" />
    </div>
}